<p>In test-service.service.ts there is function called randomInteger() which return a array of three random integer and you need to suscribe that function</p>

<div class="w3-panel">
    <p>Display here max number from the array returned above: {{max}}</p>
</div>
<div class="w3-panel">
    <p>Display here min number from the array returned above: {{min}}</p>
</div>
<div class="w3-panel">
    <p>Display here average number from the array returned above: {{average}}</p>
</div>

<p>On click of below button just call the randomInteger() method again and display new values</p>
<button type="button" class="w3-button w3-blue" (click)="refeshContent()">RefreshContent</button>

